extends layout 
block content
  h2.font-display.font-bold.text-5xl create new !{category} 

  form(action="" method="POST").my-4.flex.flex-col.items-center.gap-4
    label(for="armorName") Name
    input(type="text" placeholder="Defense of Kings" name="name" required value= formValues.name)#armorName.text-gold-500.font-bold.w-full.px-4.py-2.bg-gray-800.rounded-md.border.border-poor.tracking-wider.outline-none.focus_ring.focus_ring-gold-500.placeholder_text-poor

    label(for="armorAttackPower") Armor Power
    input(type="number" placeholder="5" name="armorPower" min="1" max="100" required value= formValues.armorPower)#armorAttackPower.text-gold-500.font-bold.w-full.px-4.py-2.bg-gray-800.rounded-md.border.border-poor.tracking-wider.outline-none.focus_ring.focus_ring-gold-500.placeholder_text-poor

    label(for="armorDescription") description
    textArea(type="text" placeholder="Party members get +2 strength" name="description" required maxlength="150")#armorDescription.text-gold-500.font-bold.w-full.px-4.py-2.bg-gray-800.rounded-md.border.border-poor.tracking-wider.outline-none.focus_ring.focus_ring-gold-500.placeholder_text-poor !{formValues.description}

    label(for="armorQuality") item quality
    select(name="itemQuality")#armorQuality.text-gold-500.font-bold.w-full.px-4.py-2.bg-gray-800.rounded-md.border.border-poor.tracking-wider.outline-none.focus_ring.focus_ring-gold-500
      each item in itemQualityOptions 
        option(value= item selected= formValues.itemQuality) #{item}
    
    
    
    if errors.length 
      ul.space-y-2 
        for error in errors
          li.text-error.border.border-error.px-6.py-1.rounded-md !{error.msg}

    button(type="submit").my-4.border.border-gray-200.rounded-md.px-4.py-1.font-display.font-bold.text-2xl.tracking-wider.hover_bg-gold-500.hover_text-gray-900.hover_border-gray-900.transition-all.duration-150 #{buttonDisplay} 