extends layout
block content

  h2.font-display.text-5xl create new #{categoryItemName}
  form(action="" method="POST").flex.flex-col.gap-2
    div
      label(for="item-name").font-display.text-3xl  item name
      input(type="text" id="item-name" name="itemName" value=`${formInputs.name}`).text-gold-500.font-bold.w-full.px-4.py-2.bg-gray-800.rounded-md.border.border-poor.tracking-wider.outline-none.focus_ring.focus_ring-gold-500

    div
      label(for="item-description" id="item-description").font-display.text-3xl  item description 
      textarea(type="text" id="item-description" name="itemDescription").text-gold-500.font-bold.w-full.px-4.py-2.bg-gray-800.rounded-md.border.border-poor.tracking-wider.outline-none.focus_ring.focus_ring-gold-500 #{formInputs.description}

    div
      label(for="item-power").font-display.text-3xl  item power score
      input(type="number" id="item-power" name="itemPower" min=`${formInputs.itemPower.min}` max=`${formInputs.itemPower.max}` value=`${ formInputs.itemPower.value}`).text-gold-500.font-bold.w-full.px-4.py-2.bg-gray-800.rounded-md.border.border-poor.tracking-wider.outline-none.focus_ring.focus_ring-gold-500

    div 
      label(for="item-rarity").font-display.text-3xl set item rarity
      select(type="text" id="item-rarity" name="itemRarity").text-gold-500.font-bold.w-full.px-4.py-2.bg-gray-800.rounded-md.border.border-poor.tracking-wider.outline-none.focus_ring.focus_ring-gold-500
        each rarity in itemRarity   
          option(value=`${rarity.name}` data-ability-count= rarity.abilityCount selected=(rarity.name === formInputs.rarity)) #{rarity.name}

    div
      h3.font-display.text-3xl pick item bonus abilities
      p selected abilities 
        span(id="ability-counter") 0
        span /
        span(id="ability-counter-max") 0
      div(id="ability-list").grid.grid-cols-3.gap-x-2.gap-y-1
        each ability in abilities
          div.space-x-1
            input(type="checkbox" name=`ability-${ability}` id=`ability-${ability}`)
            label(for=`ability-${ability}`) #{ability}

    if errors.length
      each error in errors 
        ul.space-y-2 
          li.text-error.border.border-error.px-2.py-1.rounded-md #{error.msg}
    
    button(type="submit").my-4.border.border-gray-200.rounded-md.px-4.py-1.font-display.font-bold.text-2xl.tracking-wider.hover_bg-gold-500.hover_text-gray-900.hover_border-gray-900.transition-all.duration-150 create #{categoryName} 

  block scripts 
    script(src="/scripts/createForm.js")