extends layout 
block content 
  article.w-full.max-w-96.sm_w-96.border-4.px-8.pt-4.pb-8.rounded-md.flex.flex-col.gap-y-4(class=`border-${weapon.itemQuality}`)
    div.ml-auto.space-x-4
      a(href=`/inventory/weapon/${weaponCategory}/${weapon.name}/update`).hover_underline.hover_text-common.cursor-pointer edit 
      a(href=`/inventory/weapon/${weaponCategory}/${weapon.name}/delete`).hover_underline.hover_text-error.cursor-pointer delete

    header
      h2.font-display.font-bold.text-4xl.tracking-wider !{weapon.name}
      p.italic.text-poor.text-lg !{weapon.description}

    div.flex.flex-col.gap-y-3
      h3.font-display.font-bold.text-2xl.tracking-wider weapon stats
      p.ml-2.flex.items-center.gap-x-4 attack power: 
        span.bg-error.rounded-full.size-8.flex.items-center.justify-center.text-gray-900.font-bold !{weapon.attackPower}
      p.ml-2.flex.items-center.gap-x-4 item rarity: 
        span.font-bold.text-md.uppercase(class=`text-${weapon.itemQuality}`) !{weapon.itemQuality}

  a(href=`/inventory/weapon/${weaponCategory}`).cursor-pointer.hover_underline.hover_text-gold-500.text-lg return to !{weaponCategory} list