extends layout 
block content 

  h2.font-display.tracking-wildest.text-3xl list of instances in #{categoryName} category
  ul.flex.flex-col.gap-2
    each item in categoryItems
      li.flex.items-center
        a(href=`/inventory/${categoryName}/${item.name}`).cursor-pointer.hover_underline.hover_text-gold-500.text-lg #{`${item.name}`}
        if item.count > 0 
          span.text-gray-500.ml-2.text-sm #{`(${item.count})`}