<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Inventory | CRUD app</title>
  </head>
  <body
    class="min-w-[100vw] min-h-[100vh] flex flex-col items-center bg-white"
  >
    <%- include("../partials/header.ejs", {activePage: "categories"}) %>
    <!--  -->
    <main class="w-full px-4 space-y-4">
      <%- include("../partials/pageHeading.ejs", {text: 'Edit Categories'}) %>

      <section class="flex flex-col gap-4">
        <div class="flex justify-between items-center">
          <%- include("../partials/blockHeading", {text: "All Categories"}) %>
          <%- include("../partials/ctaLink.ejs", {actionPath: '/categories/new', text: "Add New Category"}) %>
        </div>
        <%- include("../partials/categoriesList.ejs", {categoryList: categories}) %>
      </section>
    </main>
    <!--  -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
