<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Inventory | CRUD app</title>
  </head>
  <body
    class="min-w-[100vw] min-h-[100vh] flex flex-col items-center bg-gray-800"
  >
    <%- include("../partials/header.ejs", {activePage: "inventory"}) %>
    <!--  -->
    <main class="w-full px-10">
      <form method="post" action="<%- actionPath %>" class="flex flex-col items-center gap-4 pt-8">
        <h2 class="font-display font-bold tracking-wide text-gray-200 text-3xl uppercase"><%- heading %> </h2>
        <p class="text-lg text-gray-200"><%- confirmMessage %></p>
        <div class="flex items-center justify-between gap-16">
          <a class="cursor-pointer px-2 py-0.5 border border-gray-200 font-bold text-sm text-gray-800 rounded-sm bg-gray-200 hover:bg-gray-800 hover:text-uncommon hover:border-uncommon" href="<%- cancelPath %>">Cancel</a>
          <button type="submit" class="cursor-pointer px-2 py-0.5 border border-gray-200 font-bold text-sm text-gray-800 rounded-sm bg-gray-200 hover:bg-gray-800 hover:text-error hover:border-error">Confirm</button>
        </div>
      </form>
      
    </main>
    <!--  -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
