<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Inventory | CRUD app</title>
  </head>
  <body
    class="min-w-[100vw] min-h-[100vh] flex flex-col items-center bg-white"
  >
    <%- include("../partials/header.ejs", {activePage: "inventory"}) %>
    <!--  -->
    <main class="w-full p-4 flex flex-col items-center">
      <form method="post" action="<%- actionPath %>" class="max-w-[400px] flex flex-col items-center gap-4 pt-8">
        <%- include("../partials/pageHeading", {text: heading}) %>
        <%- include("../partials/paragraph.ejs", {text: confirmMessage}) %>
        <div class="flex items-center justify-between gap-8">
          <%- include("../partials/ctaLink.ejs", {
            actionPath: cancelPath, text: "Cancel"
          }) %>
          <%- include("../partials/formButton.ejs", {text: "Confirm"}) %>
          </div>
      </form>
      
    </main>
    <!--  -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
