<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Inventory | CRUD app</title>
  </head>
  <body
    class="min-w-[100vw] min-h-[100vh] flex flex-col items-center bg-white"
  >
    <%- include("../partials/header.ejs", {activePage: "inventory"}) %>
    <!--  -->
    <main class="w-full p-4 flex gap-8">
      <!-- LEFT categories -->
      <%- include('../partials/categoriesAside.ejs', {categoryList: categories,
        activeCategory: activeCategory}) %>
      <!-- RIGHT items in selected category -->
      <section class="flex-grow">
        <% if (locals.items === null) { %>
          <p class="font-sans text-gray-200">no category selected</p>
        <% } else { %>
          <header class="flex items-center justify-between">
            <%- include("../partials/blockHeading.ejs", {text: `${activeCategory} category items`}) %>
            <%- include("../partials/ctaLink.ejs", {actionPath: `/inventory/${activeCategory}/new`, text: `Add Item to ${activeCategory}`}) %>
          </header>
          <%- include('../partials/itemsList.ejs', {itemsList: items, activeCategory: activeCategory}) %>
        <% }; %>
      </section>
    </main>
    <!--  -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
