<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Inventory | CRUD app</title>
  </head>
  <body
    class="min-w-[100vw] min-h-[100vh] flex flex-col items-center bg-gray-800"
  >
    <%- include("../partials/header.ejs", {activePage: "inventory"}) %>
    <!--  -->
    <main class="w-full px-10 flex gap-8">
      <!-- LEFT categories -->
      <aside class="flex flex-col gap-4 min-w-[200px] flex-grow-0">
        <a class="block px-4 py-2 rounded-sm border border-uncommon bg-uncommon font-bold text-gray-800 hover:bg-gray-800 hover:text-uncommon" href="/categories">Edit Categories</a>

        <h3 class="font-bold font-display uppercase rounded-sm text-3xl text-gray-200 tracking-wider">Categories</h3>
        <% if(locals.categories.length > 0) { %>
          <ul>
            <% categories.forEach((category) => { %>
              <a class="block px-1 py-0.5 font-bold <%= activeCategory === category ? "text-uncommon" : "text-gray-200"%> hover:bg-gray-200 hover:text-gray-800" href="/inventory/<%- category %>">
                <li><%- category %></li>
              </a>
            <% }) %>
          </ul>
        <% } else { %>
          <p class="text-poor">no categories yet</p>
        <% }; %>
      </aside>
      <!-- RIGHT items in selected category -->
      <section class="flex-grow">
        <% if (locals.items === null) { %>
          <p class="text-poor">select category to list items</p>
        <% } else { %>
          <header class="flex items-center justify-between">
            <h3 class="font-bold font-display uppercase rounded-sm text-3xl text-gray-200 tracking-wider"><%- activeCategory %></h3>
        <a class="block px-4 py-2 rounded-sm border border-uncommon bg-uncommon font-bold text-gray-800 hover:bg-gray-800 hover:text-uncommon" href="/inventory/<%- activeCategory %>/new">Add Item to <%- activeCategory %></a>

          </header>
          <ul class="py-4 space-y-2">
            <% items.forEach((item) => { %>
              <!--  -->
              <li class="bg-gray-500">
                <h3 class=""><%- item.name %></h3>
                <p>
                  <span>Units</span>
                  <span><%- item.quantity %> / <span><%- item.price %> €</span></span>
                </p>

                <a class="block px-4 py-2 rounded-sm border border-rare bg-rare font-bold text-gray-800 hover:bg-gray-800 hover:text-rare" href="/inventory/<%- activeCategory %>/<%- item.name %>">Details</a>
              </li>
              <!--  -->
            <% }) %>
          </ul> 
        <% }; %>
      </section>
    </main>
    <!--  -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
