<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Inventory | CRUD app</title>
  </head>
  <body
    class="min-w-[100vw] min-h-[100vh] flex flex-col items-center bg-white"
  >
    <%- include("../partials/header.ejs", {activePage: "inventory"}) %>
    <!--  -->
    <main class="w-full p-4">
      <article class="px-6 flex flex-col gap-4">
        <header>
          <h2 class="font-display font-bold text-3xl text-gray-500">
            <%- details.name %>
          </h2>
          <%- include("../partials/paragraph.ejs", {text: details.description})  %>
        </header>
        

        <div>
          <%- include("../partials/itemStat.ejs", {
            text: "Price per unit",
            value: details.price,
            unit: "EUR"
          }) %>
          <%- include("../partials/itemStat.ejs", {
            text: "Available units",
            value: details.quantity,
            unit: "PCS"
          }) %>
          <%- include("../partials/itemStat.ejs", {
            text: "Total value",
            value: details.price * details.quantity,
            unit: "EUR"
          }) %>
        </div>

        <!-- TEST -->
        
        <!-- TEST -->

        <div>
          <%- include("../partials/ctaLink.ejs", {
            actionPath: `/inventory/${activeCategory}`,
            text: `Return to ${activeCategory}`
          }) %>
          <%- include("../partials/ctaLink.ejs", {
            actionPath: `/inventory/${activeCategory}/${activeItem}/update`,
            text: `Edit`
          }) %>
          <%- include("../partials/ctaLink.ejs", {
            actionPath: `/inventory/${activeCategory}/${activeItem}/delete`,
            text: `Delete`
          }) %>
        </div>
      </article>
    </main>
    <!--  -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
