<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Inventory | CRUD app</title>
  </head>
  <body
    class="min-w-[100vw] min-h-[100vh] flex flex-col items-center bg-white"
  >
    <%- include("../partials/header.ejs", {activePage: "inventory"}) %>
    <!--  -->
    <main class="w-full px-10 flex flex-col items-center gap-4 pt-4">
      <%- include("../partials/pageHeading.ejs", {
        text: `${update === true ? "Update" : "Create New"} Item in ${categoryName} Category`
      }) %>

      <form class="w-full sm:w-[480px] flex flex-col gap-2" action="<%- actionPath %>" method="post">
        <!-- input fields -->
        <%- include("../partials/formInput.ejs", {
          labelText: "Item Name",
          nameId: "itemName",
          inputType: "text",
          inputValue: values.itemName
        }) %>
        <%- include("../partials/formInput.ejs", {
          labelText: "Item Description",
          nameId: "itemDescription",
          inputType: "textarea",
          inputValue: values.itemDescription
        }) %>
        <%- include("../partials/formInput.ejs", {
          labelText: "Item Quantity",
          nameId: "itemQuantity",
          inputType: "integer",
          inputValue: values.itemQuantity
        }) %>
        <%- include("../partials/formInput.ejs", {
          labelText: "Item Price",
          nameId: "itemPrice",
          inputType: "float",
          inputValue: values.itemPrice
        }) %>
        <!-- input errors -->
        <%- include("../partials/formErrors.ejs", {errorsList: errors}) %>
        <!-- submit button -->
        <%- include("../partials/formButton.ejs", {text: `${update === true ? "Update":"Create"}`}) %>
      </form>

    </main>
    <!--  -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
